label {
	display: block;
}

input {
	margin: 10px 0px;
	padding: 7px;
	background-color: #F9F9F9;
	border: 1px solid #aaa;
	box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, .5);
}

textarea {
	width: 300px;
	height: 100px;
	background-color: #F9F9F9;
	box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, .5);
	margin-bottom: 5px;
}

input[type="submit"] {
	display: block;
	padding: 10px;
	color: #fff;
	background: linear-gradient(#758CFF, #6546FF);
	border: none;
}